@model User

@{
    Layout = "~/Views/Shared/PersonalLayout.cshtml";
    ViewData["Title"] = "Today";
}

<link rel="stylesheet" href="~/css/sidebar.css" />
<link rel="stylesheet" href="~/css/dashboard.css" />
<link rel="stylesheet" href="~/css/today.css" />

<div class="tab-name" style="font-size:40px;">Today's Schedule</div>
<div class="date" id="date"></div>

<div class="row today-row">
    <div class="col-7 box-cont">
        <div class="timeline">
            <ul style="width:100%;list-style-type: none;">
                @foreach(var task in Model.Tasks)
                {
                    <li style="width: 100%;">
                        <a href="#">
                            <i class='bx bxs-check-circle'></i>
                            <span class="task-name">@task.Name</span>
                            <div class="expand-task">
                                <div class="row">
                                    <div class="col">
                                        <span>Summary: </span>
                                    </div>
                                    <div class="col">
                                        @if(task.Summary != null)
                                        {
                                            @task.Summary
                                        }
                                     </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span>Details: </span>
                                    </div>
                                    <div class="col">
                                        @if (task.Details != null)
                                        {
                                            @task.Details
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span>Deadline: </span>
                                    </div>
                                    <div class="col">
                                        @if (task.Deadline != null)
                                        {
                                            @DateOnly.FromDateTime((DateTime)@task.Deadline)
                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>

    </div>
    <div class="col-5 box-cont">
        <div class="adding">
            <div class="add-task" id="add-task">
                <form asp-controller="Personal" asp-action="AddTaskForToday" method="post" onsubmit="return validateForm()">
                    <button type="submit" class="round-button">
                        <span class="plus-sign"></span>
                    </button>

                    <span class="tooltip">Add new task for today</span>
                    <input type="text" placeholder="Task Name" name="Name" id="task-name">
                    <input type="text" placeholder="Task Summary" name="Summary" id="task-summary">
                    <textarea id="task-details" placeholder="Task Details" name="Details" rows="4" cols="50"></textarea>
                    <div class="row" style="width: 50%; margin-left:3%;">
                        <span class="col">Deadline : </span>
                        <input class="col" type="date" placeholder="Task Date" name="Deadline" id="deadline">
                    </div>

                </form>
            </div>
        </div>



    </div>
</div>

<script>
    function validateForm() {
        const taskName = document.getElementById("task-name");
        var validated = true;

        if (taskName.value.trim() === "") {
            taskName.classList.add("input-error");
            validated = false;
        } else {
            taskName.classList.remove("input-error");
        }

        return validated;
    }
</script>

<script>
    window.addEventListener("load", () => {
        clock();
        function clock() {
            const today = new Date();

            const month = today.getMonth();
            const day = today.getDate();
            const dayName = today.getDay();

            const monthList = [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ];

            const daysList = [
                "Sun",
                "Mon",
                "Tue",
                "Wed",
                "Thu",
                "Fri",
                "Sat"
            ];

            const date = daysList[dayName] + "," + " " + monthList[month] + " " + day;
            document.getElementById("date").innerHTML = date;
        }
    });
</script>