@model User

@{
    Layout = "~/Views/Shared/PersonalLayout.cshtml";
    ViewData["Title"] = "Edit User";
}

<link rel="stylesheet" href="~/css/dashboard.css" />

<div class="tab-name" style="font-size:40px;">Admin Settings</div>

<div class="row first-row">
    <div style="font-size:px;">@Model.Name account data</div>
    <div>username : @Model.Username</div>
    <form>
        <div class="row">
            <div class="col-2">
                Account Type : @Model.AccountType
            </div>
            <div class="col-9">
                <div class="row">
                    <input type="radio" id="user-option" name="AccountType" value="user">
                    <label for="user-option">User</label><br>
                    <input type="radio" id="admin-option" name="AccountType" value="admin">
                    <label for="option2">Admin</label><br>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Authority: 
                @if (Model.Authority == 0)
                {
                    <span>Has no authority</span>
                }
                else
                {
                    <span>Has authority</span>
                }
            </div>
            <div class="col-9">
                <div class="row">
                    <input type="radio" id="noauthority-option" name="Authority" value="0">
                    <label for="option2">No authotity</label><br>
                    <input type="radio" id="authotity-option" name="Authority" value="1">
                    <label for="authotity-option">Has authority</label><br>
                </div>            
            </div>
        </div>

    </form>
</div>

