

@{
    Layout = "~/Views/Shared/MNGERO.cshtml";
    ViewData["Title"] = "Sign Up";
}

<link rel="stylesheet" href="~/css/signup.css" />


<div class="signup-container">
<h2 class="mngero-font">Sign Up</h2>
<form asp-controller="Home" asp-action="SignUpUser" method="post" onsubmit="return validateForm()">
    <input type="text" name="Name" id="fullname" placeholder="Full name">
    <input type="text" name="Username" id="username" placeholder="@@username">
    <input type="email" name="Email" id="email" placeholder="Email">
    <input type="password" name="Password" id="password" placeholder="Password">
    <button type="submit" id="login-button">Sign Up</button>
</form>
</div>

<script>

        function validateForm() {
            const fullnameInput = document.getElementById("fullname");
            const usernameInput = document.getElementById("username");
            const emailInput = document.getElementById("email");
            const passwordInput = document.getElementById("password");
            var validated = true;

            if (fullnameInput.value.trim() === "") {
                fullnameInput.classList.add("input-error");
                validated = false;
            } else {
                fullnameInput.classList.remove("input-error");
            }

            if (usernameInput.value.trim() === "") {
                usernameInput.classList.add("input-error");
                validated = false;
            } else {
                usernameInput.classList.remove("input-error");
            }

            if (emailInput.value.trim() === "") {
                emailInput.classList.add("input-error");
                validated = false;
            } else {
                emailInput.classList.remove("input-error");
            }

            if (passwordInput.value.trim() === "") {
                passwordInput.classList.add("input-error");
                validated = false;
            } else {
                passwordInput.classList.remove("input-error");
            }

            return validated;
        }

</script>