@{
    Layout = "~/Views/Shared/MNGERO.cshtml";
    ViewData["Title"] = "Product";
}

<link rel="stylesheet" href="~/css/Descp.css" />

<div class="container descp">
    <div class="text-center">
        <h1>All company's work in <br /> one place!</h1>
    </div>
</div>

