body {
}

.first-row {
    height: fit-content
}

.today-row {
    min-height: 100vh;
}

.box-cont {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.greeting {
    font-size: 23px;
    margin-top: 5%;
    font-weight: 300;
    margin-bottom: 100px;
}

.clock {
    margin-top: 2%;
}

#time {
    font-size: 40px;
}
