body {
    
}

.navbar-nav .nav-link:hover {
    color: #428bca !important;
}

.mngero-font {
    font-family: Monaco, monospace;
}

button {
    background-color: #11101D;
    color: #fff;
    border: none;
    border-radius: 5px !important;
    cursor: pointer; 
}

button:hover {
    background-color: #FAFAFA;
    color: #11101D;
}

.input-error {
    border: 1px solid red !important;
}

.hide {
    display:none;
}
