body {
}

.date {
    font-size: 20px;
    margin-left: 0.5%;
}

.timeline li a {
    display: flex;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

.timeline i {
    height: 70px;
    width: 70px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
    margin-top: 1%;
}

.timeline a:hover {
    background: #FAFAFA;
    height: 200px;
}

.expand-task {
    visibility: hidden;
    height:auto;
    opacity: 0;
    color: #11101D;
}

.timeline a:hover .expand-task {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-top: 8%;
    margin-left: -15%;
}


.task-name {
    font-size: 28px;
    font-weight: 400;
    margin-top: 2%;
}

.adding i {
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.round-button {
    width: 25px; /* Adjust the width and height as needed */
    height: 25px;
    background-color: #007bff; /* Change the background color as desired */
    border-radius: 50%; /* Makes the button round */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Text color */
    font-size: 24px; /* Adjust the font size as needed */
    cursor: pointer;
    border: none;
}

/* Style the plus sign (+) */
.plus-sign::before {
    content: "+"; /* Unicode plus sign character */
}

.round-button:hover {
    background-color: #0056b3; /* New background color on hover */
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px;
    position: absolute;
    z-index: 0;
    top: 20px; /* Position the tooltip above the icon */
    left: 15%;
    transform: translateX(-10%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.round-button:hover + .tooltip {
    visibility: visible;
    opacity: 1;
}

#add-task {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.adding input, .adding textarea {
    width: 90%;
    border: none;
    margin-left: 4%;
    margin-bottom: 10px;
}

#task-name {
    font-size: 25px;
}


.adding input::placeholder {
    color: #11101D;
    opacity: 0.7;
}


.input-error {
    border: 1px solid red !important;
}